body{
    background-color: #000;
}

header{
    display: block;
    padding-block: 1rem;
    margin-left: 7%;
}

header ul{
    display: flex;
}

header ul li a{
    margin-right: 1rem;
    font-family: var(--fonte-montserrat);
    font-weight: 600;
    font-size: 1rem;
    color: var(--cor-secundaria);
}

header ul li a:hover,
footer p a:hover{
    border-bottom: 1px solid var(--cor-secundaria);
}

main.container{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

main.container section.container-1,
main.container section.container-2{
    width: 38%;
}

main.container section.container-1 h1{
    font-family: var(--fonte-krona);
    color: var(--cor-principal);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

main.container section.container-1 span{
    color: var(--cor-secundaria);
}

main.container section.container-1 p{
    font-family: var(--fonte-montserrat);
    color: var(--cor-principal);
}

main.container section.container-1 h1, span, p{
    line-height: 2;
}

main.container section.container-1 div.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

main.container section.container-1 div.redes-sociais h3{
    color: var(--cor-principal);
    font-family: var(--fonte-krona);
    font-weight: 400;
    font-size: 1rem;
}

main.container section.container-1 div.redes-sociais button{
    width: 46%;
    height: 40px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
}

main.container section.container-1 div.redes-sociais button:hover{
    transform: translateY(-5px);
}

main.container section.container-1 div.redes-sociais button a{
    font-family: var(--fonte-montserrat);
    color: var(--cor-principal);
    font-weight: 600;
}

main.container section.container-1 div.redes-sociais button i{
    color: var(--cor-secundaria);
    margin-right: .5rem;
}

main.container section.container-2 img{
    height: 400px;
}

footer{
    text-align: center;
    padding-block: 1rem;
}

footer p{
    color: var(--cor-principal);
    font-family: var(--fonte-montserrat);
    color: var(--cor-secundaria);
}

footer p a{
    color: var(--cor-secundaria);
}

/* MOBILE */

@media(max-width: 480px){

    body{
        display: block;
    }

    main.container{
        display: flex;
        align-items: flex-start;
        padding-top: 2rem;
        margin: 0 auto;
    }

    main.container,
    main.container section.container-1{
        width: 90%;
    }

    main section.container-2{
        display: none;
    }

    main.container section.container-1 div.redes-sociais{
        padding-top: 2rem;
    }

}

@media(min-width: 481px) and (max-width: 915px){

    body{
        display: block;
    }

    main.container{
        width: 100%;
    }

    main.container section.container-1{
        width: 90%;
        display: flex;
        justify-content: center;
    }

    main.container section.container-1 div.apresentacao,
    main.container section.container-1 div.redes-sociais{
        width: 48%;
    }

    main.container section.container-1 div.redes-sociais{
        display: flex;
        justify-content: space-around;
    }

    main.container section.container-1 div.redes-sociais h3,
    main.container section.container-2{
        display: none;
    }

    footer{
        position: relative;
        text-align: center;
    }

    main.container section.sobre{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

}